dist*
*.hi
*.o
.hsenv*
.DS_Store
*.swp
*.keter
dist-*
cabal-dev
log
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
.hpc
.cabal-sandbox/
cabal.sandbox.config
*.prof
*.aux
*.hp
*.eventlog
.stack/
.stack-work/
cabal.project.local
.bash_history
